@import 'ext/solarized-light';

.highlight {
	background-color: #f4f4f4;
}

div.highlight {
	padding: 5px 20px;
}
pre.highlight, code {
	font-family: 'Consolas', Menlo, monospace;
	line-height: 1.4em;
	tab-size: 4;
}

.highlight pre {
	padding-left: 1rem;
}

// remove table border
.highlight table th, .highlight table td {
	border: none;
	padding-left: 0;
	padding-right: 0;
}