@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.25vw;
  // font-family: 'Source Sans Pro', sans-serif;
  // font-family: 'Fira Sans', sans-serif;
  font-family: Trebuchet MS, 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

a, a:visited {
  text-decoration: none;
  color: #2980b9;
}

a:hover {
  color: #bdc3c7;
}

footer {
  width: 70vw;
  // background: #34495e;
  // color: #ecf0f1;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 2em;
  font-size: 9pt;
  margin-left: auto;
  margin-right: auto;
  border-top: solid #dfe6e9 1px;
}

header {
  background: #34495e;
  color: #ecf0f1;
  padding-bottom: 2em;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav li {
  list-style: none;
  margin-right: 2em;
}

nav li a {
  color: #ecf0f1;
  font-weight: bolder;
  font-size: 24px;
}

nav li a:hover {
  border-bottom: solid 3px #9b59b6;
  color: #bdc3c7;
}

nav li a:visited {
  color: #ecf0f1;
}

nav li a.active-page {
  border-bottom: solid 3px #9b59b6;
}

.header-wrapper, .page-content {
  width: 70vw;
  margin: auto;
  padding-bottom: 1em;
}

.profile {
  padding-top: 2em;
  margin-bottom: 2em;
}

.profile h1{
  margin-bottom: 1em;
}

.profile p {
  font-size: 13pt;
}

.page-content {
  padding-top: 2em;
  text-align: justify;
}

.listing h2, h2.listing {
  margin-top: 1em;
  color: #1abc9c;
  border-bottom: solid 1px #bdc3c7;
}

h2.listing {
  margin-bottom: 1em;
}

.listing ul {
  padding: 1em;
  list-style-type: circle;
}

.listing ol {
  padding: 1em;
}

.listing li {
  margin-bottom: 1em;
}

.listing ol li > span {
  color: #8e44ad;
}

.list-holder img{
  width: 30vw;
}

.list-holder {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.list-holder li {
  width: 466px;
  list-style: none;
}
