.teaching h3 {
  margin-top: 1em;
  margin-bottom: 1em;
  border-bottom: solid 1px #34495e;
}

.tips {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  background: #ffeaa7;
}

ul.tips li {
  list-style-type: circle;
  margin-left: 1em;
}

.question {
  padding: .5em;
  color: #6c5ce7;
  font-weight: bold;
}
